# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=true

# Email
EMAIL_FROM=
EMAIL_TO=
EMAIL_SUBJECT=Your Bookmarks to Revisit

# Schedule
LINKS_PER_EMAIL=5
SCHEDULE_INTERVAL_HOURS=24